.input {
  display: block;
  background: transparent;
  margin: 1rem auto;
  padding-left: 0.5rem;
  padding-right: 3.5rem;
  height: 3rem;
  font-size: 1.5rem;
  border: none;
  --webkit-border: none;
  border-bottom: 0.15rem solid rgba(161, 161, 161, 0.4);
  border-radius: 0;
  transition: all 0.4s;
}
.input:focus {
  border-bottom: 0.15rem solid rgb(6, 195, 31);
  background: transparent;
}

.input::placeholder {
  color: rgb(161, 161, 161);
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

.input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.label {
    font-size: 1.2rem;
    color: rgb(71, 71, 71);
}